@*iterate through teams*@
@model IEnumerable<Teams>
@*dynamically highlight selected team*@
<a class="btn btn-block @(ViewBag.SelectedTeam == null ? "btn-primary" : "btn-outline-secondary")"
   asp-action="Index" asp-controller="Home" asp-route-bowlerteamid="">All Bowlers</a>
<br />

@foreach (var x in Model)
{
    @*dynamically highlight selected team && pass team name and team id*@
    <a class="btn btn-block @(x.TeamName == ViewBag.SelectedTeam ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-bowlerteamid="@x.TeamId"
       asp-route-bowlerteam="@x.TeamName">@x.TeamName</a>
    <br />
}