@{
    ViewData["Title"] = "Home Page";
}

@*Display heading with team name based on selected team*@
<h1>@Model.TeamCategory</h1>

@model IndexViewModel
@*Display bowler contact info in a table*@
<table>
    <thead>
        <tr>
            <td>First</td>
            <td>Middle</td>
            <td>Last</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone</td>
        </tr>
    </thead>
    @*loop through each bowler in database*@
    <tbody>
        @foreach (var x in Model.Bowlers)
        {
            <tr>
                <td>@x.BowlerFirstName</td>
                <td>@x.BowlerMiddleInit</td>
                <td>@x.BowlerLastName</td>
                <td>@x.BowlerAddress</td>
                <td>@x.BowlerCity</td>
                <td>@x.BowlerState</td>
                <td>@x.BowlerZip</td>
                <td>@x.BowlerPhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

@*pagination*@
<div page-info="@Model.PageNumberingInfo" 
     page-url-bowlerteam="@Model.TeamCategory">

</div>

@*bowler-team="@Model.TeamCategory"*@